
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

div{
    background-color: grey;
    padding: 35px 20px;
    position: relative;   
}

h3{
    text-align: center;
    width: 120px;
    padding: 5px;
    position: absolute;
    top: 0px;
    right: 0px;   
}

#st{
    background-color: #cd1edd;
	border: 1px solid black;
	margin: -1px -1px 0px;
}
#nd{
    background-color: #9f0c40;
	color: white;
	border: 1px solid black;
	margin: -1px -1px 0px;
}
#th{
    background-color: #c9e224;
	border: 1px solid black;
	margin: -1px -1px 0px;
}


@media (min-width: 992px){

    .col-lg-4{
        width : 32%;
        float : left;
        border : 1px solid black;
        margin: 0.5%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .col-md-6 {
        width : 48%;
        float : left;
        border : 1px solid black;
        margin: 1%;
    }
    .col-md-12{
        width : 98%;
        float : left;
        border : 1px solid black;
        margin: 1%;
    }
    
}
@media (max-width: 767px){

    .col-lg-1{
        width : 98%;
        float : left;
        border : 1px solid black;
        margin: 3%;

    }
}
